input{
    height: 32px;
    font-size: 13px;
    border-radius: 50px;
    border: 1px solid #d2d2d2;

    padding: 5px 36px 5px 12px;
}
.d1{
    margin-top:0.8rem;
}

.a2{
    border: 1px solid #d2d2d2 !important;
    font-size: 14px !important;
    border-radius: 0.4rem;
    padding-top:4px;
    padding-bottom:4px;
    margin:5px 0 0 30px;
}
@media screen and (min-width: 992px){
    input{
        width:85%;
    }
}
@media screen and (max-width: 991px) and (min-width: 768px){
    input{
        width:47%;
    }
}
@media screen and (max-width: 767px){
    input{
        width:63%;
    }
}
.a1{
    color:#f26552;
}
hr{
    width:30px;
    margin-top:-3px;
    background-color:#f26552;
    margin-left:1px;
    height: 1.5px;
}
.a3:hover{
    color:#f26552 !important;
}

